body {
    background-color:#EAF6F6;
  }
  hr {
    border-style: dotted none none;
    height: 0px;
    border-width: 5px;
    border-color: #8fdfdf8e;
    width: 10%;
  }
  h1 {
      color: #66bfbf;
  }
  h3 {
      color: #66bfbf;
  }